#**Breast Cancer Classification**
An Ipython notebook for preparing model to classify the cancer type as malignant or benign

##**Import Statements**

In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

##**Read Data**

In [30]:
data = pd.read_csv("/content/tumor.csv")
data.head()

   Sample code number  Clump Thickness  ...  Mitoses  Class
0             1000025                5  ...        1      2
1             1002945                5  ...        1      2
2             1015425                3  ...        1      2
3             1016277                6  ...        1      2
4             1017023                4  ...        1      2

[5 rows x 11 columns]

##**Data Summary**

In [16]:
data.describe()

       Sample code number  Clump Thickness  ...     Mitoses       Class
count        6.830000e+02       683.000000  ...  683.000000  683.000000
mean         1.076720e+06         4.442167  ...    1.603221    2.699854
std          6.206440e+05         2.820761  ...    1.732674    0.954592
min          6.337500e+04         1.000000  ...    1.000000    2.000000
25%          8.776170e+05         2.000000  ...    1.000000    2.000000
50%          1.171795e+06         4.000000  ...    1.000000    2.000000
75%          1.238705e+06         6.000000  ...    1.000000    4.000000
max          1.345435e+07        10.000000  ...   10.000000    4.000000

[8 rows x 11 columns]

##**Data Info to check for presence of null values**

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683 entries, 0 to 682
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Sample code number           683 non-null    int64
 1   Clump Thickness              683 non-null    int64
 2   Uniformity of Cell Size      683 non-null    int64
 3   Uniformity of Cell Shape     683 non-null    int64
 4   Marginal Adhesion            683 non-null    int64
 5   Single Epithelial Cell Size  683 non-null    int64
 6   Bare Nuclei                  683 non-null    int64
 7   Bland Chromatin              683 non-null    int64
 8   Normal Nucleoli              683 non-null    int64
 9   Mitoses                      683 non-null    int64
 10  Class                        683 non-null    int64
dtypes: int64(11)
memory usage: 58.8 KB

##**Distributed data into dependent and independent variable data column groups**

In [31]:
dataX = data.iloc[:,1:-1].values
dataY = data.iloc[:, -1].values

##**Train-Test Split**

In [32]:
X_train, X_test, y_train, y_test = train_test_split(dataX, dataY, test_size=0.25, random_state=0)

##**Training Model**

In [33]:
forest_classifier = RandomForestClassifier(n_estimators = 10, max_depth = 5 ,criterion = 'gini', random_state = 0)
forest_classifier.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=5, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

##**Predicting on our test set and plotting confusion matrix for checking accuracy**

In [34]:
y_pred = forest_classifier.predict(X_test)

In [35]:
from sklearn.metrics import confusion_matrix,accuracy_score
cfm = confusion_matrix(y_test, y_pred)
print(cfm)
accuracy_score(y_test, y_pred)

[[103   4]
 [  5  59]]

0.9473684210526315

##**Serializing our model with pickle module**

In [36]:
import pickle
import os

In [37]:
filename = './cancer_classification_model.pkl'
pickle.dump(forest_classifier,open(filename, 'wb'))
load_model = pickle.load(open(filename, 'rb'))
result = load_model.score(X_test, y_test)
print(result)

0.9473684210526315

##**Testing our model on random test data**

In [38]:
print(load_model.predict([[1,1,1,1,1,1,1,1,1]]))

[2]